# run <pipreqs> at directory
keras==2.11.0
matplotlib==3.5.2
memory_profiler==0.61.0
nltk==3.7
numpy==1.23.3
pandas==1.5.0
scikit_learn==1.2.1
tensorflow==2.11.0
tensorflow_intel==2.11.0
tqdm==4.64.0
